.DS_Store
libraryCuration/.DS_Store
.ipynb_checkpoints
originalData/*
dataCopy/*
libraryCuration/straightLineStacks/*
libraryCuration/curvedLineStacks/*
libraryCuration/intersectingLineStacks/*
libraryCuration/substacks/*
Hough_transform/.ipynb_checkpoints
Hough_transform/Hough_transform_debugging.ipynb