.DS_Store
libraryCuration/.DS_Store
.ipynb_checkpoints
dataCopyLocal/*
detectingLinesLocal/*
libraryCuration/straightLineStacks/*
libraryCuration/curvedLineStacks/*
libraryCuration/intersectingLineStacks/*
libraryCuration/substacks/*
Hough_transform/.ipynb_checkpoints
Hough_transform/Hough_transform_debugging.ipynb
Unet/dataCuration/*
Unet/.ipynb_checkpoints/*
Unet/python_notebooks/raw/*
Unet/python_notebooks/skeletonised/*
